<div class="container">
    <form action="/" method="GET" id="ecForm">
        <div>
            <style>
                /* Hide spinners in Chrome, Safari, Edge */
                input[type=number]::-webkit-outer-spin-button,
                input[type=number]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
                }

                /* Hide spinners in Firefox */
                input[type=number] {
                -moz-appearance: textfield;
                }
            </style>
            <span>\(y^2 \equiv x^3 + \)</span>
            <input type="number" style="width: 40px" id="a" name="a" placeholder="a" step="1" {{#if a}}value={{a}}{{/if}} required>
            <span>\(x + \)</span>
            <input type="number" style="width: 40px" id="b" name="b" placeholder="b" step="1" {{#if b}}value={{b}}{{/if}} required>
            <span>\( ( \mod{} \)</span>
            <input type="number" style="width: 40px" id="mod" name="mod" min="3" step="1" {{#if mod}}value={{mod}}{{else}}value=13{{/if}}>
            <span>\( ) \)</span>
            <span id="error" style="color: red;"></span>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <hr />
    <form action="/" method="POST">
        <label for="message">Enter your message (optional):</label> <br>
        <textarea id="message" name="message" cols="100"></textarea>
        <label for="encrypt">
            <input type="radio" id="encrypt" name="messageAction" value="encrypt" required>Encrypt
        </label>
        <label for="decrypt">
            <input type="radio" id="decrypt" name="messageAction" value="decrypt">Decrypt
        </label>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div>
    {{#if encrypted_message}}{{encrypted_message}}{{/if}}
</div>

<div class="container">    
    <button class="btn" id="toggleTable">Change Display</button>
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="ptTable">
            <thead>
                <th>Cayley Table</th>
                {{#each cthead}}
                    <th>{{this}}</th>
                {{/each}}
            </thead>
            
            <tbody>
                {{#each ctbody}}
                <tr>
                    <th>{{lookup ../cthead @index}}</th>
                    {{#each this}}
                        <td>{{this}}</td>
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>

            <table class="table table-bordered table-hover" style="display: none;" id="letterTable">
            <thead>
                <th>Letter Key</th>
                {{#each echead}}
                    <th>'{{this}}'</th>
                {{/each}}
            </thead>
            
            <tbody>
                {{#each ecbody}}
                <tr>
                    <th>'{{lookup ../echead @index}}'</th>
                    {{#each this}}
                        <td>'{{this}}'</td>
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        
        </table>
    </div>
    

</div>

<script src="/js_scripts/toggleTable.js"></script>
<script src="/js_scripts/ecFormHandler.js"></script>